{
	"extends": "eslint-config-airbnb",
	"rules": {
		"import/no-unresolved": "off",
		"import/no-extraneous-dependencies": "off",
		"react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
		"react/react-in-jsx-scope": "off",
		"react/prop-types": "off",
		"import/extensions": ["error", "never"]
	},
	"env": {
        	"jquery": true,
		"browser": true
    	},
	"globals": {
        	"app": false,
        	"m": false
    	}
}
